@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-size: 14px;
  font-weight: 300;
}

a {
  text-decoration: underline;
}

b, h3 {
  font-weight: 600;
}

ul {
  list-style-position: inside;
  list-style-type: disc;
}